
<!DOCTYPE html>
<html>
<head>
	
	<title>Mobile tutorial - Leaflet</title>

	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
	<link rel="shortcut icon" type="image/x-icon" href="docs/images/favicon.ico" />

    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css" integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ==" crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js" integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew==" crossorigin=""></script>


	<style>
		html, body {
			height: 100%;
			margin: 0;
		}
		#map {
			width: 600px;
			height: 400px;
		}
	</style>

	<style>body { padding: 0; margin: 0; } #map { height: 100%; width: 100vw; }</style>
	
	
	<style>
	.leaflet-control-layers-toggle:after{ 
	    content:"View more Limerick data"; 
	    color:#000 ;
	}
	.leaflet-control-layers-toggle{ 
	    width:auto;
	    background-position:3px 50% ;
	    padding:3px;
	    padding-left:36px;
	    padding-right:36px;
	    text-decoration:none;
	    line-height:36px;
	
	}
	</style>
	
	
</head>
<body>

<div id='map'></div>

<script>
var map = L.map('map', {center:[52.655882, -8.632151], zoom: 12, scrollWheelZoom: false});


var osm=new L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token=pk.eyJ1IjoibWFwYm94IiwiYSI6ImNpejY4NXVycTA2emYycXBndHRqcmZ3N3gifQ.rJcFIG214AriISLbB6B5aw', {
		maxZoom: 12,
		attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, ' +
			'<a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, ' +
			'Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
		id: 'mapbox/streets-v11',
		tileSize: 512,
		zoomOffset: -1
	}).addTo(map);



// POINTS 110kv
var url ='https://greenrep.gis-cdn.net/geoserver/green-rep/ows?service=WFS&version=1.0.0&request=GetFeature&typeName=green-rep%3A110kv&maxFeatures=50&outputFormat=application%2Fjson';   //'https://www.geologycloud.tw/api/v1/zh-tw/Stratum?t=.json';
var stateLayer4 = L.geoJson(null);
    $.getJSON(url, function(data) {
        stateLayer4.addData(data);
    });
 stateLayer4.addTo(map);



// POINTS 220kv
var url ='https://greenrep.gis-cdn.net/geoserver/green-rep/ows?service=WFS&version=1.0.0&request=GetFeature&typeName=green-rep%3A220kv&maxFeatures=50&outputFormat=application%2Fjson';   //'https://www.geologycloud.tw/api/v1/zh-tw/Stratum?t=.json';
var stateLayer1 = L.geoJson(null, { color: 'green'});
    $.getJSON(url, function(data) {
        stateLayer1.addData(data);
    });
 stateLayer1.addTo(map);




// LINES
var url ='https://greenrep.gis-cdn.net/geoserver/green-rep/ows?service=WFS&version=1.0.0&request=GetFeature&typeName=green-rep%3A110kv%20clipped&maxFeatures=50&outputFormat=application%2Fjson';   //'https://www.geologycloud.tw/api/v1/zh-tw/Stratum?t=.json';
var stateLayer2 = L.geoJson(null, { color: 'red'});
    $.getJSON(url, function(data) {
        stateLayer2.addData(data);
    });
 stateLayer2.addTo(map);




// Set style function that sets fill color property
function style(feature) {
  return {
        fillColor: 'red', 
    };
 }




//CORK BOUNDARY
var url ='https://greenrep.gis-cdn.net/geoserver/boundariesgreenrep/ows?service=WFS&version=1.0.0&request=GetFeature&typeName=boundariesgreenrep%3ABoundaries&maxFeatures=50&outputFormat=application%2Fjson';   //'https://www.geologycloud.tw/api/v1/zh-tw/Stratum?t=.json';
var stateLayer7 = L.geoJson(null);
    $.getJSON(url, function(data) {
        stateLayer7.addData(data);
    });
 stateLayer7.addTo(map);












var wmsLayer = L.tileLayer.wms('http://ows.mundialis.de/services/service?', {
    layers: 'SRTM30-Colored-Hillshade'
}).addTo(map);











// for Layer Control    
var baseMaps = {
    "Streets": osm,  
    "Topography": wmsLayer
};


var overlayMaps = {
    "Points 110kv":stateLayer1,
    "Points 220kv":stateLayer4,
        "Power":stateLayer2,
        "Boundaries":stateLayer7
    
    
};  

//Add layer control
L.control.layers(baseMaps, overlayMaps).addTo(map);
 L.control.scale().addTo(map);
 
 
 
 
 
 
 
 
 
 
	L.Control.Watermark = L.Control.extend({
		onAdd: function(map) {
			var img = L.DomUtil.create('img');
			
			img.src = 'https://media.irishpost.co.uk/uploads/2017/03/Limerick_Crest.png';
			img.style.width = '200px';
			
			return img;
		},
		
		onRemove: function(map) {
			// Nothing to do here
		}
	});

	L.control.watermark = function(opts) {
		return new L.Control.Watermark(opts);
	}
	
	L.control.watermark({ position: 'bottomleft' }).addTo(map);



















</script>



</body>
</html>
